// Colores principales
$primary-light: #4d57a9;
$on-primary-light: #ffffff;
$primary-container-light: #dfe0ff;
$on-primary-container-light: #000a64;

// Colores secundarios
$secondary-light: #9f4200;
$on-secondary-light: #ffffff;
$secondary-container-light: #ffdbcb;
$on-secondary-container-light: #341100;

// Colores terciarios
$tertiary-light: #8e3c98;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #ffd6fd;
$on-tertiary-container-light: #36003e;

// Colores de error
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;

// Colores de fondo y superficie
$background-light: #f8fdff;
$on-background-light: #001f25;
$surface-light: #f8fdff;
$on-surface-light: #001f25;
$surface-variant-light: #e3e1ec;
$on-surface-variant-light: #46464f;

// Otros colores
$outline-light: #777680;
$inverse-on-surface-light: #d6f6ff;
$inverse-surface-light: #00363f;
$inverse-primary-light: #bcc2ff;
$shadow-light: #000000;
$surface-tint-light: #4d57a9;
$outline-variant-light: #c7c5d0;
$scrim-light: #000000;
