@use './../quasar.variables.scss';

.registerContainer {
  min-height: 100vh;
}

.register {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.inputsContainer {
  width: 100%;
  padding: 10px 32px;
  gap: 10px;
}

.input {
  min-height: 100px;
}

@media (min-width: $breakpoint-lg) {
  .password {
    grid-column: 1/3;
  }
  .register {
    background: white;
    border-radius: 25px;
    min-width: 500px;
    box-shadow: 0px 5px 30px 9px rgba(0, 0, 0, 0.25);
    align-items: center;
  }

  .registerContainer {
    background: linear-gradient(to right, #7474bf, #348ac7);
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
